<!doctype html>
<html lang="en">

<head>
    <title>PPP</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
</head>

<body>
    <main id="app"></main>
    <script async src="{{{publicPath}}}app.js"></script>
</body>

</html>